button.mainAction {
  width: fit-content;
  white-space: nowrap;
  border-radius: 0.375rem; // Tailwind rounded-md equivalent
  padding: 0.5rem 1rem; // Tailwind px-4 py-2 equivalent
  color: white;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  background-color: $primary-button;

  &:hover {
    background-color: $primary-button-hover;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #6b7280; // Equivalent to Tailwind bg-gray-500
  }

  .icon {
    margin-right: 0.5rem; // Tailwind mr-2 equivalent
    display: inline-block;
  }
}

// Styles for a cancel button
button.cancel {
  border: 1px solid white; // Border color
  background-color: transparent; // Transparent background to match bg-none
  color: white;
  padding: 0.5rem 1rem; // Equivalent to px-4 py-2
  border-radius: 0.375rem; // Equivalent to Tailwind rounded-md
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: white;
    color: $primary-color;
  }

  &:disabled {
    cursor: not-allowed;
    color: #a0aec0; // Gray color for disabled state
    background-color: transparent;
  }
}

button.delete {
  border: 1px solid $delete-button;
  background-color: $delete-button;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: $delete-button-hover;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #e2e8f0;
    border-color: #e2e8f0;
    color: #a0aec0;
  }
}

.flat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

a.map {
  cursor: pointer;
  font-size: 0.875rem; // Equivalent to text-sm
  color: #6b7280; // Tailwind text-gray-500

  &:hover {
    color: #3b82f6; // Tailwind text-blue-500
    text-decoration: underline;
  }
}

.trashButton {
  
  fill: black;
  cursor: pointer;
  transition: fill 0.3s ease;

  &:hover {
    fill: #dc2626;
  }
}

button.clearAll {
  border-radius: 0.375rem; // Tailwind rounded-md
  border-width: 2px; // Tailwind border-2
  border-color: #3b82f6; // Tailwind border-blue-500
  background-color: white; // Tailwind bg-white
  padding: 0.5rem 1rem; // Tailwind px-4 py-2
  font-weight: 600; // Tailwind font-semibold
  color: #3b82f6; // Tailwind text-blue-500
  box-shadow: none; // Tailwind shadow-none
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #dbeafe; // Tailwind bg-blue-100
  }
}

.adminCard{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem; // Tailwind rounded-lg
  border: 1.25px solid #d1d5db; // Tailwind border-gray-300
  padding: 1rem; // Tailwind p-4
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.05); // Tailwind shadow-md
}