.note-content {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Número máximo de líneas antes de truncar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.note-content::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.2em;
}

.mx-2::-webkit-scrollbar {
  width: 11px;
}

.mx-2::-webkit-scrollbar-track {
  background: border-gray-200; 
  border-radius: 3px;
}

.mx-2::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

.mx-2::-webkit-scrollbar-thumb:hover {
  background-color: #adadad;
}

